@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
body {
  font-family: "Lato", sans-serif;
}

.container h2 {
  color: #34495E;
  font-weight: 700;
}

.buttons-container h4 {
  color: #34495E;
  font-weight: 700;
}
.buttons-container .buttons-row {
  margin: 20px 0;
}

.navbar-dropdown-container h4 {
  color: #34495E;
  font-weight: 700;
}

.input-container {
  margin-bottom: 30px;
}
.input-container h4 {
  color: #34495E;
  font-weight: 700;
}

.progress-navigation h4 {
  color: #34495E;
  font-weight: 700;
}

.check-radio-tooltip h4, .check-radio-tooltip h1, .check-radio-tooltip h2, .check-radio-tooltip h3, .check-radio-tooltip h5 {
  color: #34495E;
  font-weight: 700;
}

.color-swatches h4 {
  color: #34495E;
  font-weight: 700;
}

.success {
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
  color: #ffffff;
}

.primary {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #ffffff;
}

.danger {
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  color: #ffffff;
}

.dark {
  background-color: #34495E;
  border: 1px solid #34495E;
  color: #ffffff;
}

.btn-light-success {
  background-color: #49c9b0;
  border: 1px solid #49c9b0;
  color: #ffffff;
}

.btn-light-primary {
  background-color: #5dade2;
  border: 1px solid #5dade2;
  color: #ffffff;
}

.btn-light-danger {
  background-color: #ec7064;
  border: 1px solid #ec7064;
  color: #ffffff;
}

.btn-light-dark {
  background-color: #5d6d7d;
  border: 1px solid #5d6d7d;
  color: #ffffff;
}

.btn-bright-success {
  background-color: #16a085;
  border: 1px solid #16a085;
  color: #ffffff;
}

.btn-bright-primary {
  background-color: #2980b9;
  border: 1px solid #2980b9;
  color: #ffffff;
}

.btn-bright-danger {
  background-color: #c0392b;
  border: 1px solid #c0392b;
  color: #ffffff;
}

.btn-bright-dark {
  background-color: #2c3e50;
  border: 1px solid #2c3e50;
  color: #ffffff;
}

.navbar.navbar-dark.bg-dark {
  background-color: #34495E !important;
}
.navbar .dropdown-menu {
  background-color: #34495E;
  color: #ffffff;
}
.navbar .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar .dropdown-menu .dropdown-item:focus, .navbar .dropdown-menu .dropdown-item:hover {
  background-color: #1abc9c;
  color: #ffffff;
}
.navbar .navbar-unread {
  background-color: #1abc9c;
  border-radius: 50%;
  color: white;
  font-size: 0;
  font-weight: 700;
  min-height: 6px;
  min-width: 6px;
  line-height: 1;
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 35%;
  margin-left: 5px;
}
.navbar .btn-dark {
  background-color: #34495E;
  border: 0;
  color: #ffffff;
}

.button-dropdown {
  margin-bottom: 15px;
}

.btn-group .success {
  background-color: #1abc9c;
}
.btn-group .dropdown-toggle {
  border-right: 0px;
}
.btn-group .btn-light-success {
  background-color: #49c9b0;
}
.btn-group .btn-light-success.dropdown-toggle {
  border-right: 0;
}

.btn-group .dropdown-menu {
  background-color: #34495E;
  color: #ffffff;
}
.btn-group .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.btn-group .dropdown-menu .dropdown-item:focus, .btn-group .dropdown-menu .dropdown-item:hover {
  background-color: #1abc9c;
  color: #ffffff;
}

.form-group .form-control {
  color: #bdc3c7;
  border-color: #bdc3c7;
  box-shadow: none;
}
.form-group .form-control::-moz-placeholder {
  color: #bdc3c7;
}

.has-error .form-control {
  color: #e74c3c;
  border-color: #e74c3c;
  box-shadow: none;
}
.has-error .form-control::-moz-placeholder {
  color: #e74c3c;
}

.has-success .form-control {
  color: #1abc9c;
  border-color: #1abc9c;
  box-shadow: none;
}
.has-success .form-control::-moz-placeholder {
  color: #1abc9c;
}

.progress, .ui-slider {
  margin-bottom: 20px;
}

.ui-slider {
  margin-bottom: 20px;
}

.row-pagination {
  width: 100%;
  margin: auto;
}

.page-link .pad {
  padding-right: 15px;
}

.pagination .page-item a {
  background-color: #1abc9c;
  color: #ffffff;
}
.pagination .page-item a:hover {
  background-color: #16a085;
}

.number .page-item a {
  background-color: #bdc3c7;
}

.demo-pager .page-item a {
  background-color: #34495E;
  color: #ffffff;
}

.checkbox, .radio {
  display: block;
  margin-top: 10px;
  margin-bottom: 12px;
  position: relative;
  transition: color 0.25s linear;
  font-size: 14px;
  min-height: 20px;
  line-height: 1.5;
}

.pallete-item {
  width: 140px;
  float: left;
  margin: 0 0 20px 20px;
}
.pallete-item .palette {
  font-size: 14px;
  line-height: 1.214;
  color: white;
  margin: 0;
  padding: 15px;
  text-transform: uppercase;
}
.pallete-item .palette-turquoise {
  background-color: #1abc9c;
}
.pallete-item .palette-green-sea {
  background-color: #16a085;
}
.pallete-item .palette-emerald {
  background-color: #2ecc71;
}
.pallete-item .palette-nephritis {
  background-color: #27ae60;
}
.pallete-item .palette-peter-river {
  background-color: #3498db;
}
.pallete-item .palette-belize-hole {
  background-color: #2980b9;
}
.pallete-item .palette-amethyst {
  background-color: #9b59b6;
}
.pallete-item .palette-wisteria {
  background-color: #8e44ad;
}
.pallete-item .palette-wet-asphalt {
  background-color: #34495e;
}
.pallete-item .palette-midnight-blue {
  background-color: #2c3e50;
}
.pallete-item .palette-sun-flower {
  background-color: #f1c40f;
}
.pallete-item .palette-orange {
  background-color: #f39c12;
}
.pallete-item .palette-carrot {
  background-color: #e67e22;
}
.pallete-item .palette-pumpkin {
  background-color: #d35400;
}
.pallete-item .palette-alizarin {
  background-color: #e74c3c;
}
.pallete-item .palette-pomegranate {
  background-color: #c0392b;
}
.pallete-item .palette-clouds {
  background-color: #ecf0f1;
}
.pallete-item .palette-silver {
  background-color: #bdc3c7;
}
.pallete-item .palette-concrete {
  background-color: #95a5a6;
}
.pallete-item .palette-asbestos {
  background-color: #7f8c8d;
}
.pallete-item .palette-clouds {
  color: #bdc3c7;
}

/*# sourceMappingURL=main.css.map */
